<header>
  <nav class="navbar">
    <img class="logo" src="/images/logo.jpeg" alt="Logo" />
    <input
      class="search-input"
      type="text"
      id="searchInput"
      placeholder="Search..."
    />
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="menu-icon"
      ><i class="fa fa-bars"></i
    ></label>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>
