<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      /* Reset default margin and padding */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      /* Body styles */
      body {
        font-size: 16px;
        line-height: 1.6;
        background-color: #f7f7f7;
        color: #333;
        background-image: url("/images/b2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
      }

      /* Sidebar styles */
      .sidebar {
        background-color: #00022e;
        margin: solid 5px aliceblue;
        color: #fff;
        padding: 1rem;
        width: 20vw;
        height: 100vh;
        flex: 0 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        overflow-y: auto;
        transition: left 0.3s ease;
      }

      .logo {
        font-size: 0.5rem;
        margin-bottom: 1rem;
        width: 5rem;
        height: auto;
        border-radius: 40px;
      }

      /* Basic styles */
      .nav-links {
        list-style: none;
        margin-bottom: 1rem;
      }

      .nav-links li {
        margin-left: 0;
      }

      .nav-links a {
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: #fff;
        position: relative;
        font-weight: bold;
      }

      /* Glowing effect */
      .nav-links a::before {
        content: "";
        position: absolute;
        width: calc(100% - 2rem);
        height: 2px;
        bottom: -5px;
        left: 1rem;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      .nav-links a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }

      /* Main content styles */
      .main-content {
        padding: 2rem;
        margin-left: 20vw;
        width: 80vw;
        min-height: 100vh;
      }

      .form-container {
        background-color: #fff;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 2rem auto;
      }

      .form-container h2 {
        text-align: center;
        margin-bottom: 1.5rem;
        color: #333;
      }

      .form-group {
        margin-bottom: 1.5rem;
      }

      .form-group label {
        display: block;
        margin-bottom: 0.5rem;
        color: #333;
      }

      .form-group input {
        width: calc(100% - 1rem);
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      .form-group input[type="file"] {
        padding: 0;
      }

      .form-group button {
        background-color: #178733;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
      }

      .form-group button:hover {
        background-color: #147026;
      }

      /* Hamburger menu icon */
      .menu-icon {
        position: fixed;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        z-index: 999;
        display: none;
      }

      .menu-icon i {
        font-size: 1.5rem;
        color: #02a0f6;
      }

      /* Media Queries */
      @media screen and (max-width: 768px) {
        .sidebar {
          width: 25vw;
          left: -25vw;
        }

        .menu-icon {
          display: block;
        }

        .sidebar.show {
          left: 0;
        }

        .main-content.shifted {
          margin-left: 25vw;
        }

        .main-content {
          margin-left: 0;
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <div class="sidebar" id="sidebar">
      <!-- Header -->
      <img class="logo" src="/images/logo.jpeg" alt="Logo" />
      <ul class="nav-links">
        <li>
          <a href="/admin">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-dashboard"
                aria-hidden="true"
                style="color: #c68417; width: 30px; font-size: x-large"
              ></i>
            </div>
            Dashboard
          </a>
        </li>

        <li>
          <a href="/admin/add_landlord">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-user-plus"
                aria-hidden="true"
                style="color: #0da2f1; width: 30px; font-size: x-large"
              ></i>
            </div>
            Add Landlord
          </a>
        </li>
        <li>
          <a href="/admin/add_agent">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-user-plus"
                aria-hidden="true"
                style="color: #0da2f1; width: 30px; font-size: x-large"
              ></i>
            </div>
            Add Agent
          </a>
        </li>
        <li>
          <a href="/admin/user_management">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-user-md"
                aria-hidden="true"
                style="color: chartreuse; width: 30px; font-size: x-large"
              ></i>
            </div>
            User Management
          </a>
        </li>
        <li>
          <a href="/admin/delete_user">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-trash"
                aria-hidden="true"
                style="color: crimson; width: 30px; font-size: x-large"
              ></i>
            </div>
            Delete User
          </a>
        </li>
        <li>
          <a href="/admin/admin_delete_hostel">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-trash-o"
                aria-hidden="true"
                style="color: crimson; width: 30px; font-size: x-large"
              ></i>
            </div>
            Delete Hostel
          </a>
        </li>
        <li>
          <a href="/admin/help_desk">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-cogs"
                aria-hidden="true"
                style="color: #06cf06; width: 30px; font-size: x-large"
              ></i>
            </div>
            Help Desk
          </a>
        </li>
        <li>
          <a href="/admin/replied_queries">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-history"
                aria-hidden="true"
                style="color: olive; width: 30px; font-size: x-large"
              ></i>
            </div>
            Replied Queries
          </a>
        </li>
        <li>
          <a href="/logout">
            <div
              class="icon"
              style="display: inline-block; vertical-align: middle"
            >
              <i
                class="fa fa-sign-out"
                aria-hidden="true"
                style="color: rgb(255, 0, 93); width: 30px; font-size: x-large"
              ></i>
            </div>
            Sign-Out
          </a>
        </li>
      </ul>
    </div>

    <!-- Menu icon for mobile -->
    <label for="menu-toggle" class="menu-icon" id="menu-icon">
      <i class="fa fa-bars"></i>
    </label>
    <input type="checkbox" id="menu-toggle" style="display: none" />

    <div class="main-content">
      <div class="form-container">
        <h2>Add New Agent</h2>
        <form
          id="addAgentForm"
          action="/admin/add_agent"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="profile_photo">Profile Photo</label>
            <input
              type="file"
              id="profile_photo"
              name="profile_photo"
              accept="image/*"
            />
          </div>
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" required />
          </div>
          <div class="form-group">
            <label for="surname">Surname</label>
            <input type="text" id="surname" name="surname" required />
          </div>
          <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="tel" id="phone_number" name="phone_number" required />
          </div>
          <div class="form-group">
            <label for="email_address">Email Address</label>
            <input
              type="email"
              id="email_address"
              name="email_address"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit">Add Agent</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      document
        .getElementById("menu-icon")
        .addEventListener("click", function () {
          var sidebar = document.getElementById("sidebar");
          var mainContent = document.querySelector(".main-content");
          sidebar.classList.toggle("show");
          mainContent.classList.toggle("shifted");
        });

      document
        .getElementById("addAgentForm")
        .addEventListener("submit", function (event) {
          var profilePhotoInput = document.getElementById("profile_photo");
          if (!profilePhotoInput.value) {
            var placeholderImage = "/images/profile2.png"; // Set the path to your placeholder image
            var placeholderInput = document.createElement("input");
            placeholderInput.type = "hidden";
            placeholderInput.name = "profile_photo";
            placeholderInput.value = placeholderImage;
            this.appendChild(placeholderInput);
          }
        });
    </script>
  </body>
</html>
