<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      /* Reset default margin and padding */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }

      /* Body styles */
      body {
        font-size: 16px;
        line-height: 1.6;
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        color: #333;
        background-image: url("/images/b2.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }

      header {
        background-color: #00022e;
        color: #fff;
        padding: 1rem;
      }

      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .logo {
        font-size: 0.5rem;
        margin-right: auto;
        width: 5rem;
        height: auto;
        border-radius: 40px;
      }

      .search-input {
        margin-right: 1rem;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid #ccc;
        display: block;
      }

      .menu-icon {
        display: none;
        cursor: pointer;
      }
      #menu-toggle {
        display: none;
      }

      /* Basic styles */
      .nav-links {
        list-style: none;
        display: flex;
      }

      .nav-links li {
        margin-left: 1rem;
      }

      .nav-links a {
        text-decoration: none;
        color: #fff;
        position: relative;
        font-weight: bold;
      }

      /* Glowing effect */
      .nav-links a::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -5px;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
      }

      .nav-links a:hover::before {
        visibility: visible;
        transform: scaleX(1);
      }

      /* Main content styles */
      .container {
        width: 80%;
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .search-section {
        margin: 2rem 0;
      }

      .search-form {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .search-form input[type="text"] {
        width: 70%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 1rem;
      }

      .search-form button {
        padding: 0.5rem 1rem;
        background-color: #178733;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .booking-section {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .card {
        width: 18rem;
        margin-bottom: 1.2rem;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        border-radius: 0.8rem;
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: aliceblue;
      }

      .card:hover {
        transform: translateY(-0.5rem);
      }

      .card img {
        width: 100%;
        height: 12rem;
        object-fit: cover;
      }

      .card-info {
        padding: 1.2rem;
      }

      .card-info h2 {
        margin-bottom: 0.8rem;
      }

      .card-info p {
        font-size: 0.875rem;
        margin-bottom: 0.8rem;
      }
      .card-info a {
        text-decoration: none;
        color: green;
        background-color: #f4f4f4;
        padding: 8px 12px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        float: right;
        margin-bottom: 2px;
      }

      .card-info a:hover {
        background-color: #ddd;
      }

      .active {
        background-color: #347935;
      }

      /* Media Queries */
      @media screen and (max-width: 600px) {
        ul.navbar {
          flex-direction: column;
        }
      }

      @media screen and (max-width: 720px) {
        .navbar {
          flex-wrap: nowrap;
        }
        body {
          background-size: cover;
        }
        nav {
          flex-wrap: nowrap;
        }

        .menu-icon {
          display: block;
        }
        #menu-toggle {
          display: none;
        }

        ul {
          position: fixed;
          width: 100%;
          height: 100vh;
          background-color: #0180ff;
          top: 60px;
          left: -100%;
          text-align: center;
          transition: all 0.9s;
        }

        nav ul li a {
          display: block;
        }

        a:hover,
        a.active {
          background: none;
        }

        #menu-toggle:checked ~ ul {
          left: 0;
          z-index: 1;
        }
      }
      footer {
        background-color: #00022e;
        color: #fff;
        text-align: center;
        padding: 1rem;
      }

      /* Styles for the progress bar container */

      .progress-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 8px; /* Adjust the height of the progress bar */
        background-color: #f0f0f0; /* Background color of the progress container */
      }

      /* Styles for the progress bar */
      .progress-bar {
        height: 100%;
        background-color: green; /* Color of the progress bar */
        width: 0; /* Initially, the progress bar is empty */
        transition: width 0.2s ease-out; /* Animation for the progress bar */
      }

      .show-notification {
        left: 0; /* Slide into view */
      }

      /* Form styles */
      .add-hostel-form {
        margin-top: 2rem;
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .add-hostel-form h2 {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: #333;
      }

      .add-hostel-form label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #555;
      }

      .add-hostel-form input[type="text"],
      .add-hostel-form input[type="number"],
      .add-hostel-form textarea,
      .add-hostel-form select {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
      }

      .add-hostel-form textarea {
        min-height: 100px;
      }

      .add-hostel-form button {
        padding: 0.7rem 1.5rem;
        background-color: #178733;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .add-hostel-form button:hover {
        background-color: #147026;
      }

      .input-group {
        display: flex;
      }

      .input-group-addon {
        padding: 0.5rem;

        border-right: none;
        border-radius: 5px 0 0 5px;
      }

      .input-group input {
        flex: 1;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0 5px 5px 0;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/landlord_header")%> <%-
    include("./partials/progress-bar") %>

    <!-- Main content area -->
    <main class="container">
      <section class="search-section">
        <!-- Improved form for adding hostels -->

        <form
          class="add-hostel-form"
          method="POST"
          action="/landlord/add_hostel"
          enctype="multipart/form-data"
        >
          <h2 class="h2style">Add New Hostel</h2>
          <label for="name">Hostel Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter hostel name"
            required
          />

          <label for="location">Location:</label>
          <input
            type="text"
            id="location"
            name="location"
            placeholder="Hostel address e.g Chitawira"
            required
          />

          <label for="price">Price per Month:</label>
          <div class="input-group">
            <span class="input-group-addon">MK</span>
            <input
              type="number"
              id="price"
              name="price"
              placeholder="Enter price"
              required
            />
          </div>

          <label for="availability">Availability:</label>
          <select id="availability" name="availability" required>
            <option value="Available">Available</option>
            <option value="Booked">Not Available</option>
          </select>

          <label for="gender">Hostel Gender:</label>
          <select id="gender" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Male & Female">Mixed</option>
            <option value="Family">Family</option>
          </select>

          <label for="location">Contact:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            placeholder="Phone"
            required
          />

          <label for="description">Description:</label>
          <textarea
            id="description"
            name="description"
            placeholder="Enter hostel description"
          ></textarea>

          <label for="image">Hostel Image:</label>
          <input
            type="file"
            id="image"
            name="image"
            accept="image/*"
            required
          />

          <button type="submit">Add Hostel</button>
        </form>
      </section>
    </main>

    <%- include("./partials/footer")%>
  </body>
</html>
